<div class="row">
	<div class="span12">
		<h1 class="centralizado">Últimos devocionais</h1>
	</div>
</div>

<% for devocional in @devocionais %>
	<div class="row">
		<div class="span12 well">
			<h3><%= link_to devocional.titulo, devocional_path(devocional)%></h3>
			<small>devocional do dia <%= display_date devocional.data_devocional %></small>
			<small>por <%= devocional.usuario.nome %> <img src="<%= gravatar devocional.usuario.email%>" class="img-rounded" /></small>
		</div>
	</div>
<% end %>