<h1 class="titulo centralizado" style="color: darkOliveGreen;">
	<%= @ministerio.titulo %>
</h1>

<% if @ministerio.descricao && !@ministerio.descricao.eql?("") %>
<div class="well" style="margin-top: 20px;">
	<p>
		<%= @ministerio.descricao.html_safe %>
	</p>
</div>
<% end %>

<% if user_signed_in? %>
	<div class="row">
		<div class="span12">
			<a href="<%= edit_ministerio_path(@ministerio) %>"><i class="icon-pencil"> </i> Editar</a> ou 
			<a href="<%= ministerio_path(@ministerio) %>" data-method="delete" data-confirm="Tem certeza?"><i class="icon-remove-circle"> </i> deletar</a>
		</div>
	</div>
<% end %>
<div class="row">
	<div class="span12">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		var disqus_shortname = 'ielt'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>

