<div class="row footer" style="margin-top: 10px">

	<div class="span4 well no-box">
		<h3 class="centralizado"><img src="/assets/temple.png" />
			<a href="/historico" class="no-style">50 anos IELT</a>
		</h3>
		<p>Conheça um pouco da história da igreja</p>
	</div>

	<div class="span4 well no-box">
		<h3 class="centralizado"><img src="/assets/compass60.png" style="height: 64px;"/>
			<a href="<%= onde_path %>" class="no-style">Onde estamos</a>
		</h3>
		<p>Saiba aonde nos encontrar</p>
	</div>

	<div class="span4 well no-box">
		<h3 class="centralizado"><img src="/assets/contato.png" />
			<a href="/contato" class="no-style">Contato</a>
		</h3>
		<p>Entre em contato conosco</p>
	</div>

</div>