<div class="row">
	<h1 class="centralizado">Conheça a IELT</h1>
</div>

<div class="row" style="margin-top: 10px">

	<div class="span4 well no-box">
		<h3 class="centralizado"><img src="/assets/temple.png" />
			<a href="<%= ministerios_path %>" class="no-style">Ministérios</a>
		</h3>
		<p>Aqui vai um texto meio longo, mas eu acho que nao vai ultrapassar o well</p>
	</div>

	<div class="span4 well no-box">
		<h3 class="centralizado"><img src="/assets/educacao.png" />
			<a href="<%= educacionais_path %>" class="no-style">Educaional</a>
		</h3>
		<p>Aqui vai um texto meio longo, mas eu acho que nao vai ultrapassar o well</p>
	</div>

	<div class="span4 well no-box">
		<h3 class="centralizado"><img src="/assets/contato.png" />
			<a href="/contato" class="no-style">Contato</a>
		</h3>
		<p>Aqui vai um texto meio longo, mas eu acho que nao vai ultrapassar o well</p>
	</div>

</div>