<div class="row">
	<div class="span12">
		<h1 class="centralizado ielt">Igreja Evangélica Livre de Toledo</h1>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="well" style="margin-top: 15px;">
			<%= render "helper/imagens"%>
		</div>
	</div>
</div>

<hr />

<%= render 'helper/footer'%>