<div class="row">
	<div class="span12">
		<h1 class="ielt">IELT</h1>
	</span>
</div>

<div class="row">
	<div class="span12">
		<p class="subielt">Igreja Evangélica Livre</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h1 class="subielt">
			<i class="icon-star"> </i>
		</h1>
	</div>
</div>

