<div class="row">
	<div class="span12">
		<h1 class="ielt">IELT</h1>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p class="subielt">Igreja Evangélica Livre de Toledo</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div id="imagens" class="carousel slide" style="margin-top: 15px; width: 100%;">
			<div class="carousel-inner">
				<div class="item active">
					<img src="http://www.placehold.it/2048x300" alt="">
				</div>
				<div class="item">
					<img src="http://www.placehold.it/2048x300" alt="">
				</div>
				<div class="item">
					<img src="http://www.placehold.it/2048x300" alt="">
				</div>
			</div>
			<a class="left carousel-control" href="#imagens" data-slide="prev">‹-</a>
			<a class="right carousel-control" href="#imagens" data-slide="next">-›</a>
		</div>
	</div>
</div>



<div class="row">
	<div class="span12">
		<h1 class="subielt">
			<i class="icon-star"> </i>
		</h1>
	</div>
</div>


<h1 class="titulo" style="color: darkSlateBlue;">Últimas noticias</h1>


