<div class="row">
	<div class="span12">
		<h1 class="centralizado ielt">Igreja Evangélica Livre de Toledo</h1>
	</div>
	</div>

<div class="row">
	<div class="span12">
		<div class="well" style="margin-top: 15px;">
			<%= render "helper/imagens"%>
		</div>
	</div>
</div>

<div class="row">
	<div class="span1 offset5">
		<h1 class="subielt">
			<img src="<%= asset_path 'logo-ielt2.png'%>" class="span1 centralizado"/>
		</h1>
	</div>
</div>

<hr />

<div class="row">
<h1 class="centralizado">Conheça a IELT</h1>
</div>
<div class="row" style="margin-top: 10px">
	<div class="span3 well sombra offset1">
		<h3 class="centralizado"><img src="/assets/temple.png" />
			<a href="<%= ministerios_path %>" class="no-style">Ministérios</a>
		</h3>
		<p>Aqui vai um texto meio longo, mas eu acho que nao vai ultrapassar o well</p>
	</div>

	<div class="span3 well sombra">
		<h3 class="centralizado"><img src="/assets/educacao.png" />Educação</h3>
			<p>Aqui vai um texto meio longo, mas eu acho que nao vai ultrapassar o well</p>
	</div>

	<div class="span3 well sombra">
		<h3 class="centralizado"><img src="/assets/contato.png" />Contato</h3>
		<p>Aqui vai um texto meio longo, mas eu acho que nao vai ultrapassar o well</p>
	</div>
</div>