<div class="row">
	<div class="span3">
		<address>
			<strong>Igreja evangélica livre de Toledo</strong>
			<br/>
			Rua Souza Naves, 250 - Centro 
			<br/>
			(45) 3055-4805
		</address>
	</div>

	<div class="span9">
		<div class="well">
			<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=-24.726397,-53.740709&amp;num=1&amp;ie=UTF8&amp;t=m&amp;ll=-24.725452,-53.741748&amp;spn=0.006822,0.00912&amp;z=16&amp;iwloc=near&amp;output=embed"></iframe>
		</div>

	</div>
</div>