<h1>Nossa visão</h1>
<div class="row">
	<div class="span12">
		<div class="well">
			<span style="text-align: justify;"><%= Pagina.where(:uniq => "visao").first.conteudo.html_safe %></span>
		</div>
	</div>
</div>