<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="new password">
  <meta name="author" content="luiz eduardo">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<h1>Sua nova senha</h1>
	<p>Olá <%= @user.nome %>, sua nova senha é <%= @password %>. 
		Logue-se no site assim que possivel para trocar ou não perca este e-mail
	</p>
</body>
</html>