<h1>Usuarios</h1>
<div class="row">
	<div class="span12">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Editar</th>
				</tr>

				<% for usuario in @usuarios do %>
					<tr>
						<td><%= usuario.nome %></td>
						<td><%= usuario.email %></td>
						<td>
							<div class="btn-group">
							  <button class="btn">Deletar</button>
							  <button class="btn">Fazer admin</button>
							  <button class="btn">Visualizar</button>
							</div>							
						</td>
					</tr>
				<% end %>
	
			</tbody>
		</table>
	</div>
</div>
