/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require ios-checkboxes
*= require bootstrap-wysihtml5
*= require datepicker
*= require_tree .
*/

$heroUnitBackground: white;
$navbarBackground: #5d87b2;
$navbarBackgroundHighlight: #7eacdc;
$navbarLinkColor: white;
$navbarLinkColorActive: white;

@import "bootstrap";
body {
	padding-top: 10px;
	background: url("/assets/bg_noise.jpg");
}
@import "bootstrap-responsive";
@import 'elusive-webfont';

@import "jbar.colors";
@import "jbar";

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.no-box { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


.logo {
	color: #3A5F86 !important;
	text-shadow: 1px 0px 3px #eaeaea !important;
	font-size: 30px !important;
	font-family: 'Questrial' !important;
}

hr {
	border-top: 1px solid #C3C3C3 !important;
}

.navbar-inner {
	font-size: 13px;
	font-weight: 300;
}

.carousel-control{
	font-size: 42px !important;
	line-height: 40px !important;
}

.well{
	background-color: white !important;
}

.sombra {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0px 0 rgba(0, 0, 0, 0.8) !important;
}

.table{
	background-color: white;
}

.form-actions {
	background-color: white !important;
}

.titulo {
	font-family: 'Lobster', cursive !important;
	font-size: 60px;
	padding-top: 10px;
}

.centralizado {
	text-align: center;
}