// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ielt{
	font-family: "Times";
	padding-top: 20px;
	font-size: 124px;
	text-align: center;
}

.subielt{
	padding-top: 20px;
	font-size: 32px;
	text-align: center;
}